<%= simple_form_for([@user, @access_control]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :access_control_type %>
    <%= f.input :value %>
    <%= f.input :description %>
    <%= f.input :enabled %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
