<h1>Listing nodes</h1>

<table>
  <tr>
    <th>Mac address</th>
    <th>Ip address</th>
    <th>Status</th>
    <th>Take offline</th>
    <th>Last online</th>
    <th>Room</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nodes.each do |node| %>
  <tr>
    <td><%= node.mac_address %></td>
    <td><%= node.ip_address %></td>
    <td><%= node.status %></td>
    <td><%= node.take_offline %></td>
    <td><%= node.last_online %></td>
    <td><%= node.room_id %></td>
    <td><%= link_to 'Show', node %></td>
    <td><%= link_to 'Edit', edit_node_path(node) %></td>
    <td><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Node', new_node_path %>
