<p id="notice"><%= notice %></p>

<p>
  <b>Mac address:</b>
  <%= @node.mac_address %>
</p>

<p>
  <b>Ip address:</b>
  <%= @node.ip_address %>
</p>

<p>
  <b>Status:</b>
  <%= @node.status %>
</p>

<p>
  <b>Take offline:</b>
  <%= @node.take_offline %>
</p>

<p>
  <b>Last online:</b>
  <%= @node.last_online %>
</p>

<p>
<b>Associated Rooms:</b>
  <% if @node.rooms %>
    <% @node.rooms.each do |room| %>
      <li><%= room.name %></li>
    <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
