<h1><%= t('admin.title') %></h1>
<h2><%= t('admin.initial_setup') %></h2>

<ul>
  <li><%= link_to t('nav.nodes'), nodes_path %></li>
  <li><%= link_to t('nav.rooms'), rooms_path %></li>
  <li><%= link_to t('nav.data_types'), data_types_path %></li>
  <li><%= link_to t('nav.sensor_types'), sensor_types_path %></li>
  <li><%= link_to t('nav.sensors'), sensors_path %></li>
  <li><%= link_to t('nav.users'), users_path %></li>
</ul>
