<h1>User Profile: <%= @user.display_full_name %></h1>

<table>
	<tr>
		<td>First Name:</td>
		<td><%= @user.first_name %></td>
	</tr>
	<tr>
		<td>Last Name:</td>
		<td><%= @user.last_name %></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><%= @user.email %></td>
	</tr>
	<tr>
		<td>Admin:</td>
		<td><%= @user.admin ? "Yes" : "No" %></td>
	</tr>
	<tr>
		<td><%= link_to t('nav.access_controls'), user_access_controls_path(@user) %></td>
	</tr>
	  

<% if current_user.admin || @user.id == current_user.id %>
	<tr>
          <td><%= link_to "Edit Profile", edit_user_path(@user) %></td>
	</tr>
<% end %>
</table>
