<h1>Registrations#edit</h1>

<h2>Edit User</h2>

<%= simple_form_for(@user, :as => :user, :url => update_user_path(@user), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>

  <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>

    <div>Currently waiting confirmation for: <%= @user.unconfirmed_email %></div>

  <% end %>

  <%= f.input :password, :hint => "(leave blank if you don't want to change it)" %>


  <%= f.input :password_confirmation %>

	<% if current_user == @user %>
	
		<%= f.input :current_password, :hint => "(we need your current password to confirm your changes)" %>
	
	<% end %>

	<% if current_user.admin %>
	
		<%= f.input :admin %>
		
	<% end %>
	
  <%= f.button :submit %>
<% end %>