<h1>Edit User</h1>

<%= simple_form_for(@user, :html => { :class => 'form-horizontal' } ) do |f| %>
  <%= f.error_notification %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %> 
  <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
    <div class="control-group">Currently waiting confirmation for: <%= @user.unconfirmed_email %></div>
  <% end %>

  <%= f.input :password, :autocomplete => "off", hint: 'Leave blank if you doni\'t want to change it' %>
  <%= f.input :password_confirmation, :autocomplete => "off" %>
  <%= f.input :current_password, hint: 'We need your current password to confirm your changes' %>

  <%= f.submit %>
<% end %>
