<h1>Listing sensor_hosts</h1>

<table>
  <tr>
    <th>Ip address</th>
    <th>Mac address</th>
    <th>Authorization key</th>
    <th>Location</th>
    <th>Last online</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sensor_hosts.each do |sensor_host| %>
  <tr>
    <td><%= sensor_host.ip_address %></td>
    <td><%= sensor_host.mac_address %></td>
    <td><%= sensor_host.authorization_key %></td>
    <td><%= sensor_host.location %></td>
    <td><%= sensor_host.last_online %></td>
    <td><%= link_to 'Show', sensor_host %></td>
    <td><%= link_to 'Edit', edit_sensor_host_path(sensor_host) %></td>
    <td><%= link_to 'Destroy', sensor_host, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sensor host', new_sensor_host_path %>
