<p id="notice"><%= notice %></p>

<p>
  <b>Ip address:</b>
  <%= @sensor_host.ip_address %>
</p>

<p>
  <b>Mac address:</b>
  <%= @sensor_host.mac_address %>
</p>

<p>
  <b>Authorization key:</b>
  <%= @sensor_host.authorization_key %>
</p>

<p>
  <b>Location:</b>
  <%= @sensor_host.location %>
</p>

<p>
  <b>Last online:</b>
  <%= @sensor_host.last_online %>
</p>


<%= link_to 'Edit', edit_sensor_host_path(@sensor_host) %> |
<%= link_to 'Back', sensor_hosts_path %>
