<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'sign_in' %>
	<%= stylesheet_link_tag 'sign_in' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="logindiv">
		<div id="loginform">
			<%= yield %>
			<div id="flash">
		    <% flash.each do |key, value| -%>
		      <div id="flash_<%= key %>"><%=h value %></div>
		    <% end %>
		  </div>
		</div>
	</div>
</body>
</html>
